<div class="menu">
    <div class="back">
        <i class="material-icons md-light">arrow_back</i>
    </div>
    <div class="name">{{module_title}}</div>
    <div class="members">{{module_desc}}</div>
    <div class="top-nav">
        <ul>
            <li *ngFor="let link of links">
                <a href="#">{{link}}</a>
            </li>
        </ul>
    </div>
    <div class="settings">
        <a href="/settings">
            <i class="material-icons md-light">settings</i>
        </a>
    </div>
</div>