@import url('https://fonts.googleapis.com/css?family=Raleway');

.material-icons {
    vertical-align: -webkit-baseline-middle;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

body {
    background: url("/assets/bg.png") repeat fixed;
    background-size: 8px;
    font-family: 'Raleway', sans-serif;
    color: #2e2e2e;
}

.app_body {
    padding-left: 300px;
}

.welcome_info {
    padding-top: 24px;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
}

.welcome_info h1 {
    font-weight: 300;
}
/* M E N U */

.menu {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: rgba(27, 35, 42, 0.9);
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.back {
    position: absolute;
    width: 90px;
    height: 50px;
    top: 0px;
    left: 0px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 45px;
    font-size: 40px;
    padding-left: 10px;
    cursor: pointer;
    transition: .15s all;
}

.back img {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-left: 15px;
}

.back:active {
    background: rgba(0, 0, 0, 0.15);
}

.name {
    padding-left: 200px;
    position: absolute;
    top: 3px;
    left: 110px;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.98);
    cursor: default;
}

.last {
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    cursor: default;
}

.members {
    padding-left: 196px;
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    cursor: default;
    word-spacing: 2px;
}
.settings{
    position: relative;
    float: right;
    padding-top: 12px;
    padding-right: 12px;
}
.settings a{
    text-decoration: none;
}.settings a:hover{
    color: aqua;
}
@media screen and (max-width: 1080px) {
    .app_body {
        padding-left: 200px;
    }
    .welcome_info td {
        display: block;
    }
}

@-webkit-keyframes color_change {
	from {border-top: solid 4px rgb(0, 225, 255); }
	to { border-top: solid 4px rgb(212, 0, 255); }
}
@-moz-keyframes color_change {
	from {border-top: solid 4px rgb(0, 225, 255); }
	to { border-top: solid 4px rgb(212, 0, 255); }
}
@-ms-keyframes color_change {
	from {border-top: solid 4px rgb(0, 225, 255); }
	to { border-top: solid 4px rgb(212, 0, 255); }
}
@-o-keyframes color_change {
	from {border-top: solid 4px rgb(0, 225, 255); }
	to { border-top: solid 4px rgb(212, 0, 255); }
}
@keyframes color_change {
	from {border-top: solid 4px rgb(0, 225, 255); }
	to { border-top: solid 4px rgb(212, 0, 255); }
}
