
Modules/rtc/weights/
*node_modules
*.sqlite3
*package-lock.json
*.DS_Store
*.pyc
*__pycache__
.DS_Store
.vscode/settings.json
.DS_Store
Morti-OS/RTC/save/model-server/events.out.tfevents.1527867258.DESKTOP-P50DLQT
