<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Morti-OS: RTC Module</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/chatroom.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
        <div class="nav_sidebar">
                <div class="wrapper">
                    <div class="header">
                        <h2>{{title}}
                            <a href="/">
                                <i class="material-icons">home</i>
                            </a>
                        </h2>
                    </div>
                    <div class="sub_section">
                        <a href="lsi">
                            <h3> LSI Module
                                <i class="material-icons drop_icon">keyboard_arrow_down</i>
                                {% if isActive.lsi %}
                                <i class="material-icons actv_icon green">power</i>
                                {% else %}
                                <i class="material-icons actv_icon red">power</i>
                                {% endif %}
                            </h3>
                        </a>
                    </div>
                    <div class="sub_section">
                        <a href="eqe">
                            <h3>EQE Module
                                <i class="material-icons drop_icon">keyboard_arrow_down</i>
                                {% if isActive.eqe %}
                                <i class="material-icons actv_icon green">power</i>
                                {% else %}
                                <i class="material-icons actv_icon red">power</i>
                                {% endif %}
                            </h3>
                        </a>
                    </div>
                    <div class="sub_section">
                        <a href="rtc">
                            <h3> RTC Module
                                <i class="material-icons drop_icon">keyboard_arrow_down</i>
                                {% if isActive.rtc %}
                                <i class="material-icons actv_icon green">power</i>
                                {% else %}
                                <i class="material-icons actv_icon red">power</i>
                                {% endif %}
                            </h3>
                        </a>
                    </div>
                    <div class="sidebar_footer">
                        <i>
                            Morti-OS Suite {{version}} |
                            <a href="http://www.zn30.us" target="_blank">Zinc Media, Corp</a>
                            | Copyright 2018
                        </i>
                    </div>
                </div>
            </div>
            
    <div class="main rtc_main">
        <div>
            <div class="menu">
                <div class="name">Morti-OS RTC Trainer</div>
                <div class="members">
                    <b>You</b> &amp; Morti</div>
            </div>

            <ol class="chat">
                <div class="day">-Today-</div>
                <li class="other">
                    <div class="msg">
                        <div class="user">Morti</div>
                        <p>Dude, Want to go dinner? </p>
                        <time>20:17</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <div class="user">You</div>
                        <p>I'm still doing the Góngora comment...
                            <br> Better other day</p>
                        <time>20:18</time>
                    </div>
                </li>
            </ol>

            <div class="typezone">
                <form>
                    <textarea type="text" placeholder="Say something"></textarea>
                    <input type="submit" class="send" value="" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>