<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Morti-OS: Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="nav_sidebar">
        <div class="wrapper">
            <div class="header">
                <h2>{{title}}
                    <a href="/">
                        <i class="material-icons">home</i>
                    </a>
                </h2>
            </div>
            <div class="sub_section">
                <a href="lsi">
                    <h3> LSI Module
                        <i class="material-icons drop_icon">keyboard_arrow_down</i>
                        {% if isActive.lsi %}
                        <i class="material-icons actv_icon green">power</i>
                        {% else %}
                        <i class="material-icons actv_icon red">power</i>
                        {% endif %}
                    </h3>
                </a>
            </div>
            <div class="sub_section">
                <a href="eqe">
                    <h3>EQE Module
                        <i class="material-icons drop_icon">keyboard_arrow_down</i>
                        {% if isActive.eqe %}
                        <i class="material-icons actv_icon green">power</i>
                        {% else %}
                        <i class="material-icons actv_icon red">power</i>
                        {% endif %}
                    </h3>
                </a>
            </div>
            <div class="sub_section">
                <a href="rtc">
                    <h3> RTC Module
                        <i class="material-icons drop_icon">keyboard_arrow_down</i>
                        {% if isActive.rtc %}
                        <i class="material-icons actv_icon green">power</i>
                        {% else %}
                        <i class="material-icons actv_icon red">power</i>
                        {% endif %}
                    </h3>
                </a>
            </div>
            <div class="sidebar_footer">
                <i>
                    Morti-OS Suite {{version}} |
                    <a href="http://www.zn30.us" target="_blank">Zinc Media, Corp</a>
                    | Copyright 2018
                </i>
            </div>
        </div>
    </div>
    <div class="main welcome_info">
        <h1>Welcome to Morti-OS</h1>
        <p>To get started, open the sidebar to the left and pick a module you would like to work on.</p>

        <hr>
        <table style="margin: 0 auto;" cellspacing="10">

            <tr>
                <td>
                    <h3>RTC</h3>
                    <i>(Relationship Trained Communications)</i>
                    <p>
                        The RTC Module is used by Morti as its main method of communication with the user. The goal of the RTC Module is to process
                        user inputs, and define the context of said input, while calculating an emotional value (1-10) to
                        the expression given.
                    </p>
                    <a href="https://github.com/dbarroso1/Morti-OS-RTC">Learn More</a>
                </td>

                <td>
                    <h3>EQE</h3>
                    <i>(Emotional Quantifyer Engine)</i>
                    <p>
                        Morti is planned to have a vast array of emotional responses. Although the amount of emotional responses are limited to Six
                        Primary Emotions, Morti can calculate multiple emotions to get acheive Secondary Emotional responses.
                        (See Image Below) Each word in the Input Phrase is seperated from the whole, given a corresponding
                        Emotional Weight, and is then its averaged out to find the phrases Emotional Score.
                    </p>
                    <a href="https://github.com/dbarroso1/Morti-OS-RTC">Learn More</a>
                </td>
                <td>
                    <h3>LSI</h3>
                    <i>(Live Simulation Interface)</i>
                    <p>
                        The LS Module is where Morti exsists as a simulated avatar in a virtual world. This Module is how the user will mainly interact
                        with Morti via a GUI. All modules will combine here to give a full live experience. Using an XOR
                        Artificial Neural Network and Unity, Morti will need to train and learn about his environment so
                        that he can survive.
                    </p>
                    <a href="https://github.com/dbarroso1/Morti-OS-RTC">Learn More</a>
                </td>
            </tr>
        </table>
        <div>
            <h1>News and Events</h1>
            {% if news %}
            <p>{{news_body}}</p>
            {% else %}
            <i>- No News or Events - </i>
            {% endif %}
        </div>
    </div>
</body>

</html>