<div class="eqe_main">
    <div class="menu">
        <div class="name">{{module_title}}</div>
        <div class="members">{{module_desc}}</div>
        <div class="settings">
            <a href="/settings">
                <i class="material-icons md-light">settings</i>
            </a>
        </div>
    </div>
    <h1> Morti-OS: EQE Module</h1>

    <h2>Summary</h2>
    <p>
        The EQE Module is the part of Morti that calculates the weight of a conversation and outputs a emotional value. the Emotional
        Value (EV) comes from a Weight given to a word, the context of the scentence (weights of words surrounding it). Then
        Based on the weights of both the context and the word an EV can be estimated.
    </p>
</div>