{% extends "index.html" %} {% block chatroom %} {% load staticfiles %}
<div id="wrapper">
    <div class="header">
        <h2>Morti Chat</h2>
    </div>
    <div id="chat_zone">
    </div>

    <form id="chat_form">
        {% csrf_token %}
        <div class="field">
            <input type="text" name="name" id="message" placeholder="Say something..." />
        </div>
    </form>
</div>
<script>
    if ('addEventListener' in window) {
        window.addEventListener('load', function () {
            document.body.className = document.body.className.replace(/\bis-loading\b/, '');
        });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
</script>
<script type="text/javascript" src='{% static "js/jquery-3.1.0.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.js" %}'></script>
<script type="text/javascript" src='{% static "js/chat.js" %}'></script>

{% endblock chatroom %}