{% load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Morti-OS: RTC</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{% static 'images/icon.png' %}">
	<link rel="stylesheet" href="{% static 'assets/css/morti.css' %}" />
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
	</noscript>
</head>

<body>
	<div class="sidebar">
		<img width="90" src="{% static 'images/morti.png' %}" alt="" />
		<hr>
		<a href="/">Home</a>
		<a href="#">About</a>
		<a href="/chat">RTC Module</a>
		<a href="#">LSI Module</a>
	</div>
	<div class="content">
		{% block chatroom %}{% endblock chatroom %}
	</div>
</body>

</html>