.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    background: #2e2e2e;
    height: 100vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #d1d1d1;
    display: block;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.sidebar a:hover {
    color: #01cdfe;
    background: #ff71cd46;
}

.sidebar img {
    padding-top: 12px;
    display: block;
    margin: 0 auto;
}

.content {
    position: absolute;
    top: 0;
    max-width: 720px;
    left: 200px;
}
.header{
    display: flex;
    width: 512px;
    background: #d1d1d1;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    padding-left: 12px;
}
.header h2 {
    margin: 0;
    font-weight: 200;
    padding-bottom: 3px;
}

#wrapper {
    height: 400px;
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    margin: 12px;
    padding: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#chat_zone {
    width: 500px;
    height: inherit;
    overflow-y: scroll;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 12px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}
#chat_form {
    margin-top: 5px;
}

#chat_form input {
    background: #f3f3f3;
    width: inherit;
    border-radius: 4px;
    border: none;
    width: 99%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
}

.question {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    float: right;
    width: 50%;
    padding: 12px;
    position: relative;
    background: #bae1ff;
    border-radius: .4em;
    color: #202020;
    text-align: right;
}

.question:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #bae1ff;
    border-right: 0;
    border-top: 0;
    margin-top: -5px;
    margin-right: -10px;
}

.answer {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    float: left;
    width: 50%;
    padding: 12px;
    text-align: left;
    position: relative;
    color: #FFF;
    background: #392f43;
    border-radius: .4em;
    margin: 0;
}

.answer:before {
    content: "Morti: ";
    font-weight: bold;
}

.answer:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #392f43;
    border-left: 0;
    border-top: 0;
    margin-top: -5px;
    margin-left: -10px;
}

.chat_time {
    font-size: 10px;
    padding-left: 6px;
}

.chat_time .left {
    float: left;
}

.chat_time .right {
    padding-right: 6px;
    float: right;
}