<div class="rtc_main">
    <div>
        <div class="menu">
            <div class="name">{{module_title}}</div>
            <div class="members">{{module_desc}}</div>
            <div class="settings">
                <a href="/settings">
                    <i class="material-icons md-light">settings</i>
                </a>
            </div>
        </div>
        <ol class="chat">
            <div class="day">{{today| date:'shortDate'}}</div>
            <div class="notification">Wake Morti up by saying "Hello"</div>
            <!--Chat Starts Here-->
            <li class="other">
                <div class="msg">
                    <div class="user">{{morti.name}}</div>
                    <p>{{morti.message}} </p>
                    <time>{{today | date:'shortTime' }}</time>
                </div>
            </li>
            <li class="self">
                <div class="msg">
                    <div class="user">{{user.name}}</div>
                    <p>{{user.message}}</p>
                    <time>{{today | date:'shortTime' }}</time>
                </div>
            </li>
        </ol>
        <div class="typezone">
            <form>
                <textarea type="text" placeholder="Say something"></textarea>
                <input type="submit" class="send" value="" />
            </form>
        </div>
    </div>
</div>