<div class="main rtc_main">
    <div>
        <div class="menu">
            <div class="name">Morti-OS RTC Trainer</div>
            <div class="members">
                <b>You</b> &amp; Morti</div>
        </div>

        <ol class="chat">
            <div class="day">-Today-</div>
            <li class="other">
                <div class="msg">
                    <div class="user">Morti</div>
                    <p>Dude, Want to go dinner? </p>
                    <time>20:17</time>
                </div>
            </li>
            <li class="self">
                <div class="msg">
                    <div class="user">You</div>
                    <p>I'm still doing the Góngora comment...
                        <br> Better other day</p>
                    <time>20:18</time>
                </div>
            </li>
        </ol>

        <div class="typezone">
            <form>
                <textarea type="text" placeholder="Say something"></textarea>
                <input type="submit" class="send" value="" />
            </form>
        </div>
    </div>
</div>