{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block header_text %}Login{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <img width="200" alt="Morti-OS" src="https://camo.githubusercontent.com/735446665e4d639dba8d631721d601cd16132186/687474703a2f2f7a6e33302e75732f77702d636f6e74656e742f75706c6f6164732f323031382f30342f6d6f7274695f6c6f676f5f7469746c655f772e706e67">
        <h3 style="font-weight: 300">Please Login to Continue</h3>
        <form class="" action="." method="POST">
            <p>{% csrf_token %}</p>
            <p>{{ form }}</p>
            <button>Login</button>
        </form>
        <i>Need Help? <a href="#">Click Here</a></i>
    </div>
{% endblock %}