{% extends "index.html" %} {% block chatroom %} {% load staticfiles %}


<div id="wrapper">
    <div class="col1">
        <div style="text-align:left">
            <h3 style="margin:0;font-weight:200;padding-bottom:4px;">Hyperparams:</h3>
            <table>
                <tr>
                    <th>Version:</th>
                    <td>v.{{ version }}</td>
                </tr>
                <tr>
                    <th>Global Step: </td>
                        <td>{{ glob }}</td>
                </tr>
                <tr>
                    <th>Corpus:</th>
                    <td>{{ corpus }}</td>
                </tr>
                <tr>
                    <th>Max Length:</th>
                    <td>{{ maxlen }}</td>
                </tr>
                <tr>
                    <th>Filtered Vocab:</th>
                    <td>{{ vocabfilter }}</td>
                </tr>
                <tr>
                    <th>Vocab Size:</th>
                    <td>{{ vocabsize }}</td>
                </tr>
                <tr>
                    <th>Hidden Layer Size:</th>
                    <td>{{ hiddensize }}</td>
                </tr>
                <tr>
                    <th>Number of Layers:</th>
                    <td>{{ numlayer }}</td>
                </tr>
                <tr>
                    <th>Softmax Samples:</th>
                    <td>{{ maxsample }}</td>
                </tr>
                <tr>
                    <th>Initial Embeddings:</th>
                    <td>{{ initemb }}</td>
                </tr>
                <tr>
                    <th>Embedding Size:</th>
                    <td>{{ embsize }}</td>
                </tr>
                <tr>
                    <th>Embedding Source:</th>
                    <td>{{ embsrc }}</td>
                </tr>
            </table>
            <h3 style="margin:2px;font-weight:200;">Emotions:</h3>
            <h3 style="margin:2px;font-weight:200;">Scalar Graph:</h3>
            <h3 style="margin:2px;font-weight:200;">Word Predictions:</h3>
        </div>
    </div>
    <div class="col2">
        <div class="header">
            <h2> Morti Chat </h2>
            <sub>&nbsp;(v1.0.3) </sub>
        </div>

        <div id="chat_zone">
            <!--Chat Goes Here-->
        </div>

        <form id="chat_form">
            {% csrf_token %}
            <div class="field">
                <button disabled id="voice-btn" onclick="nothingbro()">
                    <i class="material-icons">
                        keyboard_voice
                    </i>
                </button>
                <input type="text" name="name" id="message" placeholder="Type a message" />
                <!--Speach to Text Button-->
                <button id="send-btn">
                    <i class="material-icons">
                        send
                    </i>
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    function nothingbro(){
        console.log("Audio Button Bitch")
    }
    if ('addEventListener' in window) {
        window.addEventListener('load', function () {
            document.body.className = document.body.className.replace(/\bis-loading\b/, '');
        });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
</script>
<script type="text/javascript" src='{% static "js/jquery-3.1.0.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.js" %}'></script>
<script type="text/javascript" src='{% static "js/chat.js" %}'></script>

{% endblock chatroom %}