{% extends "index.html" %} {% block chatroom %} {% load staticfiles %}
<a>Components > Chat Room</a>
<div class="row">
    <div class="col s8">
        <div class="card">
            <div class="card-content">
                <div class="col s3">
                    <span class="card-title"> Morti Chat </span>
                </div>
                <div class="col s3">
                </div>
                <div class="col s3">
                </div>
                <form action="#">
                    <p class="range-field col s3">
                        <a style="color:#525252">Voice Volume </a>
                        <label for="test5">
                            <span id="textInput">10</span>%</label>
                        <input style="margin:2px" type="range" id="test5" value="10" min="0" max="100" onchange="updateTextInput(this.value);" />
                    </p>
                </form>

                <ul id="chat_zone">
                </ul>

                <form id="chat_form">
                    {% csrf_token %}
                    <br>
                    <div class="input-field">
                        <input id="message" type="text" maxlength="30" data-length="30" />
                        <label for="message">Say Something</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card-panel">
            <span class="card-title">Hyperparams</span>
            <table class="striped" style="font-size:12px;">
                <tr>
                    <th>Version:</th>
                    <td>v.{{ version }}</td>
                </tr>
                <tr>
                    <th>Global Step: </td>
                        <td>{{ glob }}</td>
                </tr>
                <tr>
                    <th>Corpus:</th>
                    <td>{{ corpus }}</td>
                </tr>
                <tr>
                    <th>Max Length:</th>
                    <td>{{ maxlen }}</td>
                </tr>
                <tr>
                    <th>Filtered Vocab:</th>
                    <td>{{ vocabfilter }}</td>
                </tr>
                <tr>
                    <th>Vocab Size:</th>
                    <td>{{ vocabsize }}</td>
                </tr>
                <tr>
                    <th>Hidden Layer Size:</th>
                    <td>{{ hiddensize }}</td>
                </tr>
                <tr>
                    <th>Number of Layers:</th>
                    <td>{{ numlayer }}</td>
                </tr>
                <tr>
                    <th>Initial Embeddings:</th>
                    <td>{{ initemb }}</td>
                </tr>
                <tr>
                    <th>Embedding Size:</th>
                    <td>{{ embsize }}</td>
                </tr>
                <tr>
                    <th>Embedding Source:</th>
                    <td>{{ embsrc }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    function updateTextInput(val) {
        document.getElementById('textInput').innerHTML = val;
    }
    if ('addEventListener' in window) {
        window.addEventListener('load', function () {
            document.body.className = document.body.className.replace(/\bis-loading\b/, '');
        });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
</script>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.js" %}'></script>
<script type="text/javascript" src='{% static "js/chat.js" %}'></script>

{% endblock chatroom %}