{% extends "index.html" %} {% block liveroom %} {% load staticfiles %}
<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Morti-OS Live Simulation</span>
                <div class="card-image">
                    <img style="border-radius:4px" src="https://cdn.dribbble.com/users/476251/screenshots/2619255/attachments/523315/placeholder.png">
                </div>
            </div>
            <div class="card-action">
                <a href="#">Start</a>
                <a href="#">Reset</a>
                <a href="#">Shutdown</a>
            </div>
        </div>
    </div>
    {% endblock liveroom %}