<div class="nav_sidebar">
    <div class="wrapper">
        <div class="sidebar_header">
            <span class="title">{{title}}</span>
            <i class="material-icons md-24 title_btn">
                <a class="" href="/">home</a>
            </i>
        </div>
        <ul>
            <li class="sub_section">
                <a href="rtc">RTC Module
                    <i class="material-icons md-light">keyboard_arrow_down</i>
                </a>
            </li>
            <li class="sub_section">
                <a href="eqe">EQE Module
                    <i class="material-icons md-light">keyboard_arrow_down</i>
                </a>
            </li>
            <li class="sub_section">
                <a href="lsi">LSI Module
                    <i class="material-icons md-light">keyboard_arrow_down</i>
                </a>
            </li>

        </ul>


        <div class="sidebar_footer">
            <i>
                Morti-OS Suite {{version}} |
                <a href="http://www.zn30.us" target="_blank">Zinc Media, Corp</a>
                | Copyright 2018
            </i>
        </div>
    </div>
</div>