/*Side bar Navigation*/

.nav_sidebar {
    border-top: solid 6px rgb(0, 225, 255);
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    background: rgb(76, 68, 94);
    overflow-x: hidden;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav_sidebar .wrapper {
    padding: 6px;
    color: #FFF;
}

.nav_sidebar .sidebar_header {
    display: inline-block;
    vertical-align: middle;
    padding-top: 6px;
    width: 100%;
}

.nav_sidebar .sidebar_header a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.nav_sidebar .sidebar_header .title {
    position: relative;
    float: left;
    width: 70%;
    vertical-align: middle;
    font-size: 24px;
    padding-left: 12px;
}

.nav_sidebar .sidebar_header .title_btn {
    position: relative;
    float: right;
    width: 20%;
    text-align: right;
    vertical-align: middle;
    padding-right: 4px;
}

.nav_sidebar .sidebar_header a:hover {
    color: aqua;
}

.nav_sidebar ul {
    padding-left: 0;
}

.nav_sidebar li {
    width: 100%;
    margin-bottom: 6px;
    margin-left: -10px;
    padding-top: 4px;
    padding-left: 6px;
    list-style-type: none;
    text-align: right;
}

.nav_sidebar .sub_section {
    background: rgb(102, 91, 126);
    border-radius: 4px;
}

.nav_sidebar .sub_section a {
    text-decoration: none;
    color: #FFFFFF;
}

/* FOOTER AREA SIDEBAR */

.sidebar_footer {
    padding: 4px;
    bottom: 0;
    position: fixed;
    text-align: center;
}

.sidebar_footer i {
    color: white;
    text-align: center;
    font-size: 10px;
}

.sidebar_footer a {
    text-decoration: none;
    color: white;
}

.sidebar_footer a:hover {
    color: rgb(1, 196, 255);
}

@media screen and (max-width: 1080px) {
    .nav_sidebar {
        width: 200px;
        text-align: center;
        padding-top: 15px;
    }
    .nav_sidebar .sub_section h3 {
        text-align: center;
        padding-left: 6px;
        font-weight: 300;
        font-size: 16px
    }
    .sidebar_footer {
        width: 200px;
    }
}