<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Morti-OS: LSI Module</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
        <div class="nav_sidebar">
                <div class="wrapper">
                    <div class="header">
                        <h2>{{title}}
                            <a href="/">
                                <i class="material-icons">home</i>
                            </a>
                        </h2>
                    </div>
                    <div class="sub_section">
                        <a href="lsi">
                            <h3> LSI Module
                                <i class="material-icons drop_icon">keyboard_arrow_down</i>
                                {% if isActive.lsi %}
                                <i class="material-icons actv_icon green">power</i>
                                {% else %}
                                <i class="material-icons actv_icon red">power</i>
                                {% endif %}
                            </h3>
                        </a>
                    </div>
                    <div class="sub_section">
                        <a href="eqe">
                            <h3>EQE Module
                                <i class="material-icons drop_icon">keyboard_arrow_down</i>
                                {% if isActive.eqe %}
                                <i class="material-icons actv_icon green">power</i>
                                {% else %}
                                <i class="material-icons actv_icon red">power</i>
                                {% endif %}
                            </h3>
                        </a>
                    </div>
                    <div class="sub_section">
                        <a href="rtc">
                            <h3> RTC Module
                                <i class="material-icons drop_icon">keyboard_arrow_down</i>
                                {% if isActive.rtc %}
                                <i class="material-icons actv_icon green">power</i>
                                {% else %}
                                <i class="material-icons actv_icon red">power</i>
                                {% endif %}
                            </h3>
                        </a>
                    </div>
                    <div class="sidebar_footer">
                        <i>
                            Morti-OS Suite {{version}} |
                            <a href="http://www.zn30.us" target="_blank">Zinc Media, Corp</a>
                            | Copyright 2018
                        </i>
                    </div>
                </div>
            </div>
</body>

</html>