<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Morti-OS: RTC Module</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/chatroom.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body style="background: #252C33;">

    <div class="nav_sidebar">
        <div class="wrapper">
            <div style=" color: white; text-align: center;">
                <h2 style="font-weight: 200;">Toolbox</h2>
            </div>
            <div class="sub_section">
                <a href="#">
                    <h3>LSI Module
                        <i class="material-icons">keyboard_arrow_down</i>
                    </h3>
                </a>
                <div>
                    <div id="chart_div"></div>

                </div>
            </div>
            <div class="sub_section">
                <a href="#">
                    <h3>EQE Module
                        <i class="material-icons">keyboard_arrow_down</i>
                    </h3>
                </a>

            </div>
            <div class="sub_section">
                <a href="#">
                    <h3>RTC Module
                        <i class="material-icons">keyboard_arrow_down</i>
                    </h3>
                </a>
            </div>
            <div class="sidebar_footer">
                <i style="color:white; text-align:center">Zinc Media, Corp | Copyright 2018</i>
            </div>
        </div>
    </div>
    <div class="main rtc_main">
        <div>
            <div class="menu">
                <div class="name">Morti-OS RTC Chat</div>
                <div class="members">
                    <b>You</b> & Morti</div>
            </div>

            <ol class="chat">
                <li class="other">
                    <div class="msg">
                        <div class="user">Marga
                            <span class="range admin">Admin</span>
                        </div>
                        <p>Dude</p>
                        <p>Want to go dinner?
                            <emoji class="pizza"></emoji>
                        </p>
                        <time>20:17</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <p>Puff...</p>
                        <p>I'm still doing the Góngora comment...
                            <emoji class="books"></emoji>
                        </p>
                        <p>Better other day</p>
                        <time>20:18</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <div class="user">Brotons</div>
                        <p>What comment about Góngora?
                            <emoji class="suffocated"></emoji>
                        </p>
                        <time>20:18</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <p>The comment sent Marialu</p>
                        <p>It's for tomorrow</p>
                        <time>20:18</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <div class="user">Brotons</div>
                        <p>
                            <emoji class="scream"></emoji>
                        </p>
                        <p>Hand it to me!
                            <emoji class="please"></emoji>
                        </p>
                        <time>20:18</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <div class="user">Brotons</div>
                        <p>Thank you!
                            <emoji class="hearth_blue"></emoji>
                        </p>
                        <time>20:20</time>
                    </div>
                </li>
                <div class="day">Today</div>
                <li class="self">
                    <div class="msg">
                        <p>Who wants to play Minecraft?</p>
                        <time>18:03</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <div class="user">Charo</div>
                        <p>Come on, I didn't play it for four months</p>
                        <time>18:07</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <p>Ehh, the launcher crash...
                            <emoji class="cryalot"></emoji>
                        </p>
                        <time>18:08</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <div class="user">Charo</div>
                        <p>
                            <emoji class="lmao"></emoji>
                        </p>
                        <p>Sure that is the base code</p>
                        <p>I told it to Mojang</p>
                        <time>18:08</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <p>It's a joke</p>
                        <p>Moai attack!</p>
                        <p>
                            <emoji class="moai"></emoji>
                            <emoji class="moai"></emoji>
                            <emoji class="moai"></emoji>
                            <emoji class="moai"></emoji>
                            <emoji class="moai"></emoji>
                            <emoji class="moai"></emoji>
                        </p>
                        <time>18:10</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <div class="user">Charo</div>
                        <p>XD</p>
                        <p>
                            <emoji class="funny"></emoji>
                        </p>
                        <p>Heart for this awesome design!</p>
                        <time>18:08</time>
                    </div>
                </li>
                <p class="notification">David joined the group
                    <time>18:09</time>
                </p>
                <li class="self">
                    <div class="msg">
                        <p>Heeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeellooooooooooooooooooooooooooooooo David
                            <emoji class="smile" />
                        </p>
                        <time>18:09</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <div class="user">David</div>
                        <p>What is that
                            <emoji class="shit"></emoji> ?</p>
                        <time>18:10</time>
                    </div>
                </li>
                <p class="notification">David left the group
                    <time>18:11</time>
                </p>
                <li class="other">
                    <div class="msg">
                        <div class="user">Brotons</div>
                        <p>Lol?</p>
                        <time>18:12</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <div class="user">Marga
                            <span class="range admin">Admin</span>
                        </div>
                        <p>I'm boring...</p>
                        <p>Who wants to do some logarithms?
                            <emoji class="smile"></emoji>
                        </p>
                        <time>18:15</time>
                    </div>
                </li>
            </ol>

            <div class="typezone">
                <form>
                    <textarea type="text" placeholder="Say something"></textarea>
                    <input type="submit" class="send" value="" />
                </form>
            </div>
        </div>
    </div>
</body>

</html>