@font-face {
    font-family: Raleway;
    src: url('../Static/font/Raleway/Raleway-Black.tff');
}


body {
    background: url("../images/bg.png");
    font-family: 'raleway', Fallback, sans-serif;
    background-size: 6px;
    color: #2e2e2e;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.main {
    padding-left: 350px;
}
.rtc_main {
    text-align: center;
}

.welcome_info {
    padding-top: 24px;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
}
.welcome_info h1 {
    font-weight: 300;
}

/*Side bar Navigation*/

.nav_sidebar {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    background: rgb(76, 68, 94);
    overflow-x: hidden;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav_sidebar .wrapper {
    padding: 6px;
    color: #FFF;
}

.nav_sidebar .wrapper .sub_section {
    background: rgb(102, 91, 126);
    border-radius: 10px;
    padding: 2px;
    margin: 4px;
}

.nav_sidebar .wrapper .sub_section img {
    border-radius: 4px;
    border: 1px solid #000;
}

.nav_sidebar .wrapper .sub_section a {
    text-align: right;
    text-decoration: none;
    color: white;
    transition: 200ms;
}

.nav_sidebar .wrapper .sub_section a:hover {
    text-align: right;
    text-decoration: none;
    color: rgb(218, 137, 255);
}

.nav_sidebar .wrapper .sub_section h3 {
    padding-left: 12px;
    font-weight: 300;
}

.nav_sidebar .wrapper .sub_section i {
    vertical-align: middle;
}
.sidebar_footer{
    width: 325px;
    padding: 4px;
    bottom: 0;
    position:fixed;
    text-align:center;
}
@media screen and (max-height: 600px) {
    .sidenav {
        width: 160px;
        padding-top: 15px;
    }
}