@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 48px;
    background: #202020;
    margin: -10px;
    z-index: 10;
    padding: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navbar img {
    padding-left: 12px;
    padding-right: 12px;
    float: left;
    vertical-align: middle;
}

.navbar ul {
    margin: 0;
    padding-top: 4px;
}

.navbar li {
    display: inline;
    color: #fff;
    font-size: 1.25em;
    font-weight: 200;
    margin-right: 12px;
    vertical-align: middle;
}

.navbar li a {
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.navbar li a:hover {
    color: aqua;
}

.navbar li a i {
    display: inline-flex;
    vertical-align: bottom !important;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

hr {
    border: 1px solid #d4d4d4;
}

.content {
    padding: 12px;
    z-index: 0;
}

.header {
    display: flex;
    width: 96%;
    background: #e9e9e9;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 4px;
    padding-left: 12px;
}

.header h2 {
    margin: 0;
    font-weight: 200;
    padding-bottom: 3px;
}

#wrapper {
    z-index: 1;
    height: 640px;
    width: 900px;
    border-radius: 3px;
    margin: 12px;
    padding: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#wrapper .col2 {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #d1d1d1;
}

#wrapper .col1 {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 34%;
    height: inherit;
    float: right;
    text-align: center;
}

#wrapper .col1 th {
    font-size: 12px;
    width: 50%;
    color: #636363;
    text-align: left;
    border-bottom: 1px solid #e7e7e7;
}

#wrapper .col1 td {
    padding-right: 4px;
    width: 50%;
    border-bottom: 1px solid #e7e7e7;
    font-size: 12px;
    text-align: right;
}

#chat_zone {
    width: 95%;
    background: url('../../../static/images/bg2.jpg') repeat;
    height: 512px;
    overflow-y: scroll;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 12px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

#chat_form {
    margin-top: 5px;
    width: 100%;
}

.field {
    width: 100%;
    padding-top: 6px;
    display: inline-block;
}

.field input {
    background: #f3f3f3;
    border-radius: 4px;
    border: none;
    width: 82%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
    border: 1px solid #d4d4d4;
}

.field #send-btn {
    margin-left: 2px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}

.field #send-btn:hover {
    color: rgb(77, 77, 77);
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.field #voice-btn {
    margin-right: 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #e9e9e9;
    border: none;
}

.field #voice-btn:hover {
    color: rgb(77, 77, 77);
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.field i {
    vertical-align: middle;
}

.question {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    float: right;
    width: 50%;
    padding: 12px;
    position: relative;
    background: #bae1ff;
    border-radius: .4em;
    color: #202020;
    text-align: right;
}

.question:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #bae1ff;
    border-right: 0;
    border-top: 0;
    margin-top: -5px;
    margin-right: -10px;
}

.answer {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    float: left;
    width: 50%;
    padding: 12px;
    text-align: left;
    position: relative;
    color: #FFF;
    background: #392f43;
    border-radius: .4em;
    margin: 0;
}

.answer:before {
    content: "Morti: ";
    font-weight: bold;
}

.answer:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #392f43;
    border-left: 0;
    border-top: 0;
    margin-top: -5px;
    margin-left: -10px;
}

.chat_time {
    font-size: 10px;
    padding-left: 6px;
}

.chat_time .left {
    float: left;
}

.chat_time .right {
    padding-right: 6px;
    float: right;
}