{% extends "index.html" %} {% block chatroom %} {% load staticfiles %}

<div id="wrapper">
    <div class="col2">
        <div style="text-align:left">
            <h2 style="margin:0;">Hyperparams:</h2>
            <ul style="list-style-type: none; padding-left:6px; font-size:12px;">
                <li>globStep: {{ none }}</li>
                <li>watsonMode: {{ none }}</li>
                <li>autoEncode: {{ none }}</li>
                <li>corpus: {{ none }}</li>
                <li>datasetTag: {{ none }}</li>
                <li>maxLength: {{ none }}</li>
                <li>filterVocab: {{ none }}</li>
                <li>skipLines: {{ none }}</li>
                <li>vocabularySize: {{ none }}</li>
                <li>hiddenSize: {{ none }}</li>
                <li>numLayers: {{ none }}</li>
                <li>softmaxSamples: {{ none }}</li>
                <li>initEmbeddings: {{ none }}</li>
                <li>embeddingSize: {{ none }}</li>
                <li>embeddingSource: {{ none }}</li>
            </ul>
            <hr>
            <h3 style="margin:2px;font-weight:200;">Scalar Graph:</h3>
            <img width="200" src="{% static 'images/cost_graph.png' %}">
        </div>
    </div>
    <div class="col1">
        <div class="header">
            <h2> Morti Chat </h2>
            <sub>&nbsp;(v1.0.3) </sub>
        </div>

        <div id="chat_zone" style="background: url({% static 'images/bg2.jpg' %}) repeat;">
            <!--Chat Goes Here-->
        </div>

        <form id="chat_form">
            {% csrf_token %}
            <div class="field">
                <input type="text" name="name" id="message" placeholder="Type a message" />
            </div>
        </form>
    </div>
</div>
<script>
    if ('addEventListener' in window) {
        window.addEventListener('load', function () {
            document.body.className = document.body.className.replace(/\bis-loading\b/, '');
        });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
</script>
<script type="text/javascript" src='{% static "js/jquery-3.1.0.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/reconnecting-websocket.js" %}'></script>
<script type="text/javascript" src='{% static "js/chat.js" %}'></script>

{% endblock chatroom %}