{% load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Morti-OS: RTC</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="{% static 'images/icon.png' %}">
	<link rel="stylesheet" href="{% static 'assets/css/morti.css' %}" />
	<noscript>
		<link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" />
	</noscript>
</head>

<body style="overflow-y: hidden">
	<div class="navbar">
		<img width="48px" src="{% static 'images/morti_icon.png' %}" alt="" />
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/">About</a>
			</li>
			<li>
				<a href="chat/">RTC Chat</a>
			</li>
			<li>
				<a href="/">LSI Unity</a>
			</li>
		</ul>
	</div>
	<div class="content">
		{% block chatroom %}{% endblock chatroom %}
	</div>
</body>

</html>